$theme-dark-purple: #1c1726;
$theme-light-purple: #7a78ae;

@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin background-image(){
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.panel-cover {
    display: inline-table !important;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#landing-section, #microsoft-panel, #google-panel, #rockwell-panel, #workiva-panel, #iowa-girls-code-camp-panel, #internhacks-panel, #googlejump-panel, #square-code-camp-panel{
  @include background-image();
}

#landing-section {
  height: 100vh;
  background-position: right top !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  background-blend-mode: luminosity !important;   

  background-size: 200% 100% !important;
  animation: move 5s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, $theme-dark-purple 10%, $theme-light-purple 90%);

  #landing-content-wrapper {
    @include vertical-align();
  }

  #name {
    font-size: 15rem;
    color: white;
  }

  #typing-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;

    #siteLogo {
      text-align: center;
      font-size: 2.5em;
    }
  }

  #down-arrow {
    display: block;
    position: absolute;
    color: white!important;
    margin-left: 48%;
    margin-top: 10%;
    font-size: 400%;
    bottom: 10%;  
  }

}

#microsoft-panel {
  background: url(../img/microsoft-me.jpg);
}

#google-panel {
  background: url(../img/google-me.jpg);
}

#rockwell-panel {
  background: url(../img/rockwell-me.jpg);
}

#workiva-panel {
  background: url(../img/workiva-me.png);
}

#iowa-girls-code-camp-panel {
    background: url(../img/iowagirlscodecamp.jpg);
}

#square-code-camp-panel {
    background: url(../img/squarecodecamp.jpg);
}

#internhacks-panel {
      background: url(../img/internhacks.jpg);
}

#googlejump-panel {
      background: url(../img/googlejump.jpg);
}

@media screen and (min-width: 641px) {
    #landing-section {
      
    } 
  }
  
  @media screen and (max-width: 640px) and (min-width: 400px) {
      #name {
        font-size: 700% !important;
      }

      h1 {
        font-size: 50%;
      }
    
  }
 
  @media screen and (max-width: 399px) {
    #landing-section {

    #landing-content-wrapper {
      top: 40%;
    }

    #typing-wrapper{
      margin-top: 30%;
    }

     #name {
        font-size: 450% !important;
      }

      h1 {
        font-size: 35%;
      }
    }
} 

/* Animations */
@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 500px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}