@mixin background-image(){
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

@mixin vertical-align() {
    position: relative;
    top: 50%;
}

.panel-cover {
    display: inline-table !important;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#landing-section, #microsoft-panel, #google-panel, #rockwell-panel, #workiva-panel, #iowa-girls-code-camp-panel, #internhacks-panel, #googlejump-panel, #square-code-camp-panel{
  @include background-image();
}

#landing-section {
  height: 100vh;
  background-position: right top !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  background-blend-mode: luminosity !important;   

  #name {
    font-size: 15rem;
    color: white;
    transform: translateY(-95%);
  }

  #name, #typing-wrapper, i {
    @include vertical-align();
  }

  #typing-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translateY(-200%);

    #siteLogo {
      text-align: center;
      font-size: 2.5em;
    }
  }

  #arrow-wrapper{
    color: white;
    text-align: center;
    @include vertical-align();
    transform: translateY(-200%);
  }

}

#microsoft-panel {
  background: url(../img/microsoft-me.jpg);
}

#google-panel {
  background: url(../img/google-me.jpg);
}

#rockwell-panel {
  background: url(../img/rockwell-me.jpg);
}

#workiva-panel {
  background: url(../img/workiva-me.png);
}

#iowa-girls-code-camp-panel {
    background: url(../img/iowagirlscodecamp.jpg);
}

#square-code-camp-panel {
    background: url(../img/squarecodecamp.jpg);
}

#internhacks-panel {
      background: url(../img/internhacks.jpg);
}

#googlejump-panel {
      background: url(../img/googlejump.jpg);
}

  @media screen and (min-width: 641px) {
    #landing-section {
      
    } 
  }
  
  @media screen and (max-width: 640px) and (min-width: 400px) {
    #landing-section {
      
    } 
  }
 
  @media screen and (max-width: 399px) {
    #landing-section {
     
    }
} 